/* Start of script */
/* 3 bit color scheme CSS stylesheet */
/* White background */
p {
	color: black;
}
a {
	color: black;
}
i {
	color: black;
}
u {
	color: black;
}
s {
	color: black;
}
sup {
	color: black;
}
sub {
	color: black;
}
b {
	color: black;
}
P {
	color: black;
}
A {
	color: black;
}
I {
	color: black;
}
U {
	color: black;
}
S {
	color: black;
}
SUP {
	color: black;
}
SUB {
	color: black;
}
B {
	color: black;
}
h1 {
	color: black;
}
h2 {
	color: black;
}
h3 {
	color: black;
}
h4 {
	color: black;
}
h5 {
	color: black;
}
h6 {
	color: black;
}
hr {
	color: black;
}
details {
	color: black;
}
summary {
	color: black;
}
button {
	color: black;
}
H1 {
	color: black;
}
H2 {
	color: black;
}
H3 {
	color: black;
}
H4 {
	color: black;
}
H5 {
	color: black;
}
H6 {
	color: black;
}
HR {
	color: black;
}
DETAILS {
	color: black;
}
SUMMARY {
	color: black;
}
BUTTON {
	color: black;
}
/* Black background */
p {
	color: white;
}
a {
	color: white;
}
i {
	color: white;
}
u {
	color: white;
}
s {
	color: white;
}
sup {
	color: white;
}
sub {
	color: white;
}
b {
	color: white;
}
P {
	color: white;
}
A {
	color: white;
}
I {
	color: white;
}
U {
	color: white;
}
S {
	color: white;
}
SUP {
	color: white;
}
SUB {
	color: white;
}
B {
	color: white;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}
h6 {
	color: white;
}
hr {
	color: white;
}
details {
	color: white;
}
summary {
	color: white;
}
button {
	color: white;
}
H1 {
	color: white;
}
H2 {
	color: white;
}
H3 {
	color: white;
}
H4 {
	color: white;
}
H5 {
	color: white;
}
H6 {
	color: white;
}
HR {
	color: white;
}
DETAILS {
	color: white;
}
SUMMARY {
	color: white;
}
BUTTON {
	color: white;
}
/* Light Grey background */
p {
	color: black;
}
a {
	color: black;
}
i {
	color: black;
}
u {
	color: black;
}
s {
	color: black;
}
sup {
	color: black;
}
sub {
	color: black;
}
b {
	color: black;
}
P {
	color: black;
}
A {
	color: black;
}
I {
	color: black;
}
U {
	color: black;
}
S {
	color: black;
}
SUP {
	color: black;
}
SUB {
	color: black;
}
B {
	color: black;
}
h1 {
	color: black;
}
h2 {
	color: black;
}
h3 {
	color: black;
}
h4 {
	color: black;
}
h5 {
	color: black;
}
h6 {
	color: black;
}
hr {
	color: black;
}
details {
	color: black;
}
summary {
	color: black;
}
button {
	color: black;
}
H1 {
	color: black;
}
H2 {
	color: black;
}
H3 {
	color: black;
}
H4 {
	color: black;
}
H5 {
	color: black;
}
H6 {
	color: black;
}
HR {
	color: black;
}
DETAILS {
	color: black;
}
SUMMARY {
	color: black;
}
BUTTON {
	color: black;
}
/* Dark Grey background */
p {
	color: white;
}
a {
	color: white;
}
i {
	color: white;
}
u {
	color: white;
}
s {
	color: white;
}
sup {
	color: white;
}
sub {
	color: white;
}
b {
	color: white;
}
P {
	color: white;
}
A {
	color: white;
}
I {
	color: white;
}
U {
	color: white;
}
S {
	color: white;
}
SUP {
	color: white;
}
SUB {
	color: white;
}
B {
	color: white;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}
h6 {
	color: white;
}
hr {
	color: white;
}
details {
	color: white;
}
summary {
	color: white;
}
button {
	color: white;
}
H1 {
	color: white;
}
H2 {
	color: white;
}
H3 {
	color: white;
}
H4 {
	color: white;
}
H5 {
	color: white;
}
H6 {
	color: white;
}
HR {
	color: white;
}
DETAILS {
	color: white;
}
SUMMARY {
	color: white;
}
BUTTON {
	color: white;
}

/* Green background */
p {
	color: black;
}
a {
	color: black;
}
i {
	color: black;
}
u {
	color: black;
}
s {
	color: black;
}
sup {
	color: black;
}
sub {
	color: black;
}
b {
	color: black;
}
P {
	color: black;
}
A {
	color: black;
}
I {
	color: black;
}
U {
	color: black;
}
S {
	color: black;
}
SUP {
	color: black;
}
SUB {
	color: black;
}
B {
	color: black;
}
h1 {
	color: black;
}
h2 {
	color: black;
}
h3 {
	color: black;
}
h4 {
	color: black;
}
h5 {
	color: black;
}
h6 {
	color: black;
}
hr {
	color: black;
}
details {
	color: black;
}
summary {
	color: black;
}
button {
	color: black;
}
H1 {
	color: black;
}
H2 {
	color: black;
}
H3 {
	color: black;
}
H4 {
	color: black;
}
H5 {
	color: black;
}
H6 {
	color: black;
}
HR {
	color: black;
}
DETAILS {
	color: black;
}
SUMMARY {
	color: black;
}
BUTTON {
	color: black;
}
/* Yellow background */
p {
	color: white;
}
a {
	color: white;
}
i {
	color: white;
}
u {
	color: white;
}
s {
	color: white;
}
sup {
	color: white;
}
sub {
	color: white;
}
b {
	color: white;
}
P {
	color: white;
}
A {
	color: white;
}
I {
	color: white;
}
U {
	color: white;
}
S {
	color: white;
}
SUP {
	color: white;
}
SUB {
	color: white;
}
B {
	color: white;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}
h6 {
	color: white;
}
hr {
	color: white;
}
details {
	color: white;
}
summary {
	color: white;
}
button {
	color: white;
}
H1 {
	color: white;
}
H2 {
	color: white;
}
H3 {
	color: white;
}
H4 {
	color: white;
}
H5 {
	color: white;
}
H6 {
	color: white;
}
HR {
	color: white;
}
DETAILS {
	color: white;
}
SUMMARY {
	color: white;
}
BUTTON {
	color: white;
}
/* Blue background */
p {
	color: black;
}
a {
	color: black;
}
i {
	color: black;
}
u {
	color: black;
}
s {
	color: black;
}
sup {
	color: black;
}
sub {
	color: black;
}
b {
	color: black;
}
P {
	color: black;
}
A {
	color: black;
}
I {
	color: black;
}
U {
	color: black;
}
S {
	color: black;
}
SUP {
	color: black;
}
SUB {
	color: black;
}
B {
	color: black;
}
h1 {
	color: black;
}
h2 {
	color: black;
}
h3 {
	color: black;
}
h4 {
	color: black;
}
h5 {
	color: black;
}
h6 {
	color: black;
}
hr {
	color: black;
}
details {
	color: black;
}
summary {
	color: black;
}
button {
	color: black;
}
H1 {
	color: black;
}
H2 {
	color: black;
}
H3 {
	color: black;
}
H4 {
	color: black;
}
H5 {
	color: black;
}
H6 {
	color: black;
}
HR {
	color: black;
}
DETAILS {
	color: black;
}
SUMMARY {
	color: black;
}
BUTTON {
	color: black;
}
/* Red background */
p {
	color: white;
}
a {
	color: white;
}
i {
	color: white;
}
u {
	color: white;
}
s {
	color: white;
}
sup {
	color: white;
}
sub {
	color: white;
}
b {
	color: white;
}
P {
	color: white;
}
A {
	color: white;
}
I {
	color: white;
}
U {
	color: white;
}
S {
	color: white;
}
SUP {
	color: white;
}
SUB {
	color: white;
}
B {
	color: white;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}
h6 {
	color: white;
}
hr {
	color: white;
}
details {
	color: white;
}
summary {
	color: white;
}
button {
	color: white;
}
H1 {
	color: white;
}
H2 {
	color: white;
}
H3 {
	color: white;
}
H4 {
	color: white;
}
H5 {
	color: white;
}
H6 {
	color: white;
}
HR {
	color: white;
}
DETAILS {
	color: white;
}
SUMMARY {
	color: white;
}
BUTTON {
	color: white;
}
/* file info
// Purpose:
/* this file is a 8 color (3 bit color) (2*2=*2=8) color file for 1.5D mode, and retro styled pages. It contains element changes for the page. For the background color, use the JavaScript file
* Content may be hard to see for some users in this mode
*/
/*
File type: .css (Cascade Styling Sheet file)
Size: 0,.066,.344 bits (08,.293 bytes) (08,.293 Kilobytes (base 10)) (base 2 conversion unavilable)
Status: Open-source
Line count: 0,.892
Date last updated: August 17th 2019
Version: 1
Language: Cascade Styling Sheets
Written with: notepad++ 7.5.9 (64 bit)
Written for: retro style pages, and 1.5D mode
*/
/* End of script */